/*Developed and Designed BY Shobhit Saxena (111392, IT, NITKKR)*/
copyright
{
float: middle;
color:#ffffff;
text-decoration:italics;
font-size: 11px;
font-family:Arial;
}
hr
{
color:#A74350;
}


a{
color:#ffffff;
text-decoration:none;
font-size: 14px;
font-family:Arial;
}

a:hover{
color:#e82e2e;
text-decoration:none;
font-size: 14px;
font-family:Arial;
}


body{
margin-left:0
margin-right:10
color:#c8adad;
font-size:10;
font-family:Arial;
}

footer{
margin-left:0
margin-right:0
color:#FFFFFF;
font-size:8
font-family:xpdr03;
}

body_bold{
margin-left:0
margin-right:0
color:#646566;
font-size:8;
font-family:xpdr03_bold;
}


head{
margin-left:0
margin-right:0
text-align:left;
font-weight:bold;
color:#FFFFFF;
font-size:24;
font-family:Chevin;
}

head2{
margin-left:0
margin-right:0
text-align:left;
font-weight:bold;
color:#FFFFFF;
font-size:24;
font-family:Chevin;
}



head_newsy{
margin-left:0
margin-right:0
text-align:left;
color:#e82e2e;
font-size:14;
font-family:Chevin;
}

head_newsy2{
margin-left:0
margin-right:0
text-align:left;
font-weight:bold;
color:#FFFFFF;
font-size:24;
font-family:Chevin;
}


head_list{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:13;
font-family:Chevin;
}


head_big_newsy{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:13;
font-family:ArialNarrow;
}



title{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:18;
font-family:ArialNarrow;
}


title_gallery{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:17;
font-family:Arial_b;
}

title_thumb{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:10;
font-family:Arial;
}

title_gallery{
margin-left:0
margin-right:0
text-align:left;
color:#FFFFFF;
font-size:11;
font-family:Chevin;
}

gallery_desc{
margin-left:0
margin-right:0
color:#474747;
font-size:10;
font-family:Arial;
}


slider_desc1{
margin-left:0
margin-right:0
color:#FFFFFF;
font-size:16;
font-family:Arial_slider;
}

slider_desc2{
margin-left:0
margin-right:0
color:#000000;
font-size:16;
font-family:Arial_slider;
}

slider_desc2{
margin-left:0
margin-right:0
color:#000000;
font-size:16;
font-family:Arial_b_slider;
}




footer_book{
margin-left:0
margin-right:0
color:#FFFFFF;
font-size:11;
font-family:Arial;
}

heading1{
padding-left:0%;
color:#FFFFFF;
font-size:20px;
font-family:Arial;
text-decoration:italic;
font-weight:bold;
text-decoration:italics;
}
description{
padding-left:0%;
padding-right:0%;
color:#EEEEEE;
font-size:13px;
font-family:arial;
}
heading2{
padding-left:0%;
color:#FFFFFF;
font-size:20px;
font-family:Arial;
text-decoration:italic;
font-weight:bold;
text-decoration:italics;
}
description2{
padding-left:0%;
padding-right:0%;
color:#EEEEEE;
font-size:13px;
font-family:arial;
}